@import "../../sass/variables";

.wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 99;
  margin-left: -48px;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width:1441px) {
    max-width: 1440px;
    margin-left: 0px;
  }
  .auth_btn_group{
    display: flex;
    align-items: center;
  }
  
  .login_btn {
    background-color: transparent;
  }
  
  .signup_btn {
    background-color: $primary;
    border:1px solid $primary;
    color: $white;
  }
  .menu {
    display: flex;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border:1px solid $black;
      width:32px;
      height:32px;
      border-radius: 50%;
    }
  }
}


